@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  width: 100%;
  margin: 0px;
  --slide-height: calc(100vh - 4rem);
  --slide-spacing: 1.6rem;
  --slide-size: 25%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 0;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__parallax {
  border-radius: 0;
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.embla__parallax__img {
  max-width: none;
  flex: 0 0 calc(150% + (var(--slide-spacing) * 2));
  object-fit: cover;
}
